@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Apply Noto Sans KR globally */
body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* Rich text editor placeholder */
[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #d1d5db;
  pointer-events: none;
  display: block;
}